<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <h2>Buscar Profesor</h2>
    <form action="">
        <p>Nombre</p>
        <input type="text" name="nombre" id="nombre">
        <button>Buscar</button>
    </form>
</body>
</html>
<form action="{% url 'buscar_profe' %}" method="GET">
    {% csrf_token %}
    <p>Nombre</p>
    <input type="text" name="nombre" id="nombre">
    <button type="submit">Buscar</button>
</form>
