{% extends "padre.html" %}

{% load static %}


{% block contenido %}
    {% for n in cursos %} 
       <p>{{n.nombre}}</p>
       <p>{{n.profesores}}</p>
    {% endfor %}

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>nombre</th>
            <th>profesores</th>
        </tr>
    </thead>
    <tbody>
        {% for n in profesores %}
        <tr>
           <th scope="row">{{n.id}}</th>
           <td>{{n.nombre}}<td>
           <td>{{n.profesores}}<td>
        </tr>

        {% endfor %}

    </tbody>  
    
    
</table>
{% endblock %}
